/* @group Spinning */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* @end */

/* @group Raising water */

/* @group 50 */

@-webkit-keyframes height-50cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 5%;
  }
}

/* @end */

/* @group 100 */

@-webkit-keyframes height-100cm {
  0% {
   bottom: 15%
  }

  100% {
    bottom: 10%;
  }
}

/* @end */

/* @group 150 */

@-webkit-keyframes height-150cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 15%;
  }
}

/* @end */

/* @group 200 */

@-webkit-keyframes height-200cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 20%;
  }
}

/* @end */

/* @group 250 */

@-webkit-keyframes height-250cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 25%;
  }
}

/* @end */

/* @group 300 */

@-webkit-keyframes height-300cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 30%;
  }
}

/* @end */

/* @group 350 */

@-webkit-keyframes height-350cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 35%;
  }
}

/* @end */

/* @group 400 */

@-webkit-keyframes height-400cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 40%;
  }
}

/* @end */

/* @group 450 */

@-webkit-keyframes height-450cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 45%;
  }
}

/* @end */

/* @group 500 */

@-webkit-keyframes height-500cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 50%;
  }
}

/* @end */

/* @group 550 */

@-webkit-keyframes height-550cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 55%;
  }
}

/* @end */

/* @group 600 */

@-webkit-keyframes height-600cm {
  0% {
     bottom: 15%
  }

  100% {
    bottom: 60%;
  }
}

/* @end */

/* @group more then 600 */

@-webkit-keyframes height-more-then-600cm {
  0% {
     bottom: 10%
  }

  100% {
    bottom: 70%;
  }
}

/* @end */

/* @end */

/* @group Fade in */

@-webkit-keyframes fade-in {
  0% {
     opacity: 0;
  }

  100% {
    opacity: 1;
  }
 }

/* @end */

/* @group Wiggle */

@keyframes wiggle {
  0%   {
    transform: rotate(-1deg);}
  50%  {
    transform: rotate(1deg);}
  100%  {
    transform: rotate(-1deg);}
}

/* @end */

/* @group Alert pulse */

@-webkit-keyframes myfirst {
  0%   {background-color: transparent;}
  50%  {background-color: $alert;}
  100%  {background-color: transparent;}
}

@keyframes myfirst {
  0%   {background-color: transparent;}
  50%  {background-color: $alert;}
  100%  {background-color: transparent;}
}

/* @end */


/* @group Card Animations */
.card .water.height-000cm {
  animation: height-000cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-050cm {
  animation: height-050cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-100cm {
  animation: height-100cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-150cm {
  animation: height-150cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-200cm {
  animation: height-200cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-250cm {
  animation: height-250cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-300m {
  animation: height-300cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-350cm {
  animation: height-350cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-400cm {
  animation: height-400cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-450cm {
  animation: height-450cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-500cm {
  animation: height-500cm 3s;
  animation-fill-mode: forwards;}

.card .water.height-550cm {
  animation: height-550cm 3s;
  animation-fill-mode: forwards;
}

.card .water.height-600cm {
  animation: height-600cm 3s;
  animation-fill-mode: forwards;
}
/* @end */

