#site-header {
	display: block;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
	border-bottom: 1px solid white;
	background: url(blackboard.svg) top center no-repeat;
	background-size: 80% auto;
}

.state-home #site-header {
	padding-top: 35%;
}

#site-header nav a {
	display: inline-block;
	text-decoration: none;
	width: 17%;
}

#site-header nav a:before {
	display: block;
	text-align: center;
	font: 5em fontello;
}

#site-header nav a.patterns:before {
	content: "\e800";
	font-size: 7em;
}

#site-header nav a.download:before {
	content: "\e805";
	
}

#site-header nav a.documentation:before {
	content: "\e802";
}