#site-header {
	display: block;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
/*	border-bottom: 1px solid white;*/
	background: url(blackboard.svg) bottom center no-repeat;
	background-size: 90% auto;
}

.state-home #site-header {
	padding-bottom: 34%;
	margin-top: 2%;
}

#site-header nav a {
	display: inline-block;
	text-decoration: none;
	width: 17%;
	position: relative;
}

.state-home #site-header nav a.patterns {
	transform: scale(1.5);
}

#site-header nav a:before {
	display: block;
	text-align: center;
	font: 4em fontello;
}

#site-header nav a.patterns:before {
	content: "\e800";
}

#site-header nav a.download:before {
	content: "\e805";
}

#site-header nav a.documentation:before {
	content: "\e802";
}