$mobile-fontsize:18 !default;
$pad-fontsize:18 !default;

// @include web-fonts(("Open Sans": ("300", "300 italic, 400, 400 italic, 600")));

@include web-fonts(("Sorts Mill Goudy": ("400", "500 italic")));

#content p,
#content ul,
#content ol {
	margin: 0 0 1em 0;
}

h1, h2, h3 {
	margin: 0 0 1em 0;
}

pre {
	background: rgba(0,0,0,0.2);
	padding: 2%;
	margin: 0 auto 1em;
	width: 90%;

}