@charset "UTF-8";
@import url(/patternslib/style/fontello/css/fontello.css);
.tooltip-container {
  background-color: white;
  position: absolute;
  z-index: 9998;
  border: none;
  min-height: 50px;
  overflow: visible;
  overflow-x: visible;
  margin: 0; }
  @media only screen and (min-width: 769px) {
    .tooltip-container {
      border: 1px solid silver;
      -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
      font-size: 0.8em;
      line-height: 1.5em;
      border-radius: 4px;
      width: 300px; } }
  .tooltip-container > div {
    padding: 1em;
    z-index: 1;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    min-height: 60px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box; }
    .tooltip-container > div *:last-child {
      margin-bottom: 0; }
    .tooltip-container > div:after {
      content: "";
      display: block;
      clear: both; }
  .tooltip-container > .close-panel {
    font-size: 1em;
    margin: 0;
    display: block;
    z-index: 9999;
    padding: 5% 5% 0 0;
    width: 100%;
    text-indent: -1000em; }
    @media only screen and (min-width: 769px) {
      .tooltip-container > .close-panel {
        padding: 0.2em 0.3em 0;
        background-color: #efefef; } }
    .tooltip-container > .close-panel:after {
      color: black;
      font-family: fontello;
      content: "󢀅";
      z-index: 9999;
      float: right;
      padding: 0.3em;
      text-indent: 0; }
  .tooltip-container.type-auto > .close-panel {
    display: none; }
  .tooltip-container.type-sticky > .close-panel {
    display: none; }
  .tooltip-container.type-close-button > .close-panel {
    display: block; }
  .tooltip-container.bl .pointer, .tooltip-container.bm .pointer, .tooltip-container.br .pointer {
    margin-top: -12px; }
  .tooltip-container.lt .pointer, .tooltip-container.lm .pointer, .tooltip-container.lb .pointer {
    margin-left: 12px; }
  .tooltip-container.tl .pointer, .tooltip-container.tm .pointer, .tooltip-container.tr .pointer {
    margin-top: 12px; }
  .tooltip-container.rt .pointer, .tooltip-container.rm .pointer, .tooltip-container.rb .pointer {
    margin-left: -12px; }
  .tooltip-container.lt .pointer, .tooltip-container.rt .pointer {
    margin-top: 20px; }
  .tooltip-container.lb .pointer, .tooltip-container.rb .pointer {
    margin-top: -20px; }
  .tooltip-container.tl .pointer, .tooltip-container.bl .pointer {
    margin-left: 20px; }
  .tooltip-container.tr .pointer, .tooltip-container.br .pointer {
    margin-left: -20px; }
  .tooltip-container.info > div {
    background-color: #FFFFD6; }
  .tooltip-container.info .pointer {
    background-color: #FFFFD6; }
  .tooltip-container.rich > div:after {
    content: " ";
    display: table;
    clear: both; }
  .tooltip-container.rich > div h1, .tooltip-container.rich > div h2, .tooltip-container.rich > div p, .tooltip-container.rich > div ul, .tooltip-container.rich > div ol, .tooltip-container.rich > div table, .tooltip-container.rich > div dl, .tooltip-container.rich > div pre {
    margin-bottom: 2rem; }
  .tooltip-container.rich > div ul li,
  .tooltip-container.rich > div ol li {
    margin-left: 0;
    padding-left: 1.5em; }
    .tooltip-container.rich > div ul li:before,
    .tooltip-container.rich > div ol li:before {
      content: "•";
      float: left;
      margin-left: -1.2em; }
    .tooltip-container.rich > div ul li[class^="icon-"]:before, .tooltip-container.rich > div ul li[class*=" icon-"]:before,
    .tooltip-container.rich > div ol li[class^="icon-"]:before,
    .tooltip-container.rich > div ol li[class*=" icon-"]:before {
      line-height: inherit;
      margin-left: -1.5em; }
  .tooltip-container.rich > div h1 {
    font-weight: 600;
    font-size: 2em;
    line-height: 130%;
    margin-bottom: 0.7em;
    letter-spacing: 0.05em; }
  .tooltip-container.rich > div h2 {
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-bottom: 0.7em;
    letter-spacing: 0.05em; }
  .tooltip-container.rich > div h3 {
    font-size: 1em;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-bottom: 1em; }
  .tooltip-container.rich > div img {
    max-width: 100%;
    margin: 0 auto;
    display: block; }
    .tooltip-container.rich > div img.float-before {
      margin-right: 1em;
      float: left;
      top: 0.2em;
      position: relative; }
    .tooltip-container.rich > div img.float-after {
      margin-left: 1em;
      float: right;
      top: 0.2em;
      position: relative; }
    @media only screen and (min-width: 769px) {
      .tooltip-container.rich > div img.medium {
        width: 33%; } }
  .tooltip-container.rich > div figure {
    margin-bottom: 2em; }
    .tooltip-container.rich > div figure figcaption {
      font-style: italic;
      font-size: 0.7em;
      line-height: 1.3em;
      color: rgba(0, 0, 0, 0.3);
      border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
      padding: 0.4em 0.7em 0.4em; }
  @media only screen and (min-width: 769px) {
    .tooltip-container.large {
      width: 50%; } }
  .tooltip-container h4 {
    color: #3b3b3b;
    font-size: 12px;
    line-height: 18px; }
  .tooltip-container .item-selector {
    position: static; }
  .tooltip-container .button-bar.bottom {
    position: absolute;
    bottom: 0;
    left: 0; }
  .tooltip-container .pointer {
    height: 20px;
    width: 20px;
    display: block;
    background-color: white;
    border: 1px solid silver;
    z-index: 0;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: rgba(0, 0, 0, 0.19922) 0px 0px 10px;
    -moz-transform: rotate(45deg);
    -moz-box-shadow: rgba(0, 0, 0, 0.19922) 0px 0px 10px;
    transform: rotate(45deg);
    box-shadow: rgba(0, 0, 0, 0.19922) 0px 0px 10px; }
  .tooltip-container ul.menu {
    margin: 0;
    list-style-type: none; }
    .tooltip-container ul.menu li {
      line-height: 1.5em; }
      .tooltip-container ul.menu li > button,
      .tooltip-container ul.menu li > a {
        background: none;
        display: block;
        color: black;
        line-height: 1.5em;
        cursor: default;
        padding: 0.2em 0 0.1em 1.6em; }
        .tooltip-container ul.menu li > button:active,
        .tooltip-container ul.menu li > a:active {
          box-shadow: none; }
      .tooltip-container ul.menu li a:before,
      .tooltip-container ul.menu li button:before {
        margin-left: -1.6em;
        float: left;
        line-height: 1.5em; }
    .tooltip-container ul.menu li.current a {
      color: black; }
      .tooltip-container ul.menu li.current a:before {
        content: "✓";
        float: left;
        margin-left: -1.5em;
        font: 1em fontello; }
    .tooltip-container ul.menu li:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.03); }
    .tooltip-container ul.menu li a:hover {
      text-decoration: none; }
    .tooltip-container ul.menu li.file-upload {
      position: relative;
      text-indent: 20px;
      height: 25px;
      overflow: hidden; }
      .tooltip-container ul.menu li.file-upload:before {
        content: "\e808";
        font-family: fontello;
        position: absolute;
        left: -13px; }
      .tooltip-container ul.menu li.file-upload form {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        .tooltip-container ul.menu li.file-upload form label {
          position: absolute;
          margin-left: 0;
          left: 0;
          overflow: hidden;
          display: block;
          right: 0;
          cursor: pointer;
          padding-left: 2px; }
        .tooltip-container ul.menu li.file-upload form input {
          opacity: 0;
          filter: alpha(opacity=0);
          width: 100%;
          cursor: pointer;
          position: absolute;
          top: 3px;
          left: 0; }

@media only screen and (max-width: 768px) {
  .tooltip-container {
    width: 100% !important;
    z-index: 10000;
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    font-size: 20px;
    max-width: inherit !important;
    max-height: inherit !important; }
    .tooltip-container > div {
      border-radius: 0 !important;
      width: 100% !important;
      height: 100% !important;
      max-width: inherit !important;
      max-height: inherit !important;
      border: none;
      padding: 5% !important;
      overflow: auto; }
    .tooltip-container.type-auto > .close-panel, .tooltip-container.type-sticky > .close-panel, .tooltip-container.type-close-button > .close-panel {
      display: block; } }

/*# sourceMappingURL=tooltip.css.map */
