{% if include.link %}
	<a href="{{ include.link }}" data-initials="{{ include.initials }}" class="pat-avatar {{ include.class }}" {{ include.attributes }} id="{{ include.id }}">
		{% if include.img %}
			<img src="{{ include.img }}" alt="{{ include.name }}" />
		{% else %}
			<img src="/media/defaultUser.png" class="default-user" alt="{{ include.name }}" />
		{% endif %}
	</a>    
{% else %}
	<img src="{{ include.img }}" alt="{{ include.name }}" class="pat-avatar {{ include.class }}" {{ include.attributes }} id="{{ include.id }}" />   
{% endif %}