{% capture src %}{{ include.src }}{% endcapture %}

{% if include.root == 'form' %}
	<form action="{{ include.action }}" 
	      oninput="{{ include.oninput }}"
		  class="pat-form {% if include.validation == TRUE %}pat-validation {% endif %}{% if include.inject %}pat-inject{% endif %} {% if include.submit == 'auto' %}pat-autosubmit{% endif %} {{ include.class }}" 
		{% if include.inject %}
		  data-pat-inject="{{ include.inject }}"
		{% endif %}>
{% endif %}
	<fieldset class="form-panel section {% if include.layout == 'horizontal' %}horizontal{% else %}vertical{% endif %} {{ include.class }}">
		{% assign title_nr = 1 %}
		{% for item in site.data.[src] %}

			{% if item.type == "title" %}
				{% if title_nr >= 2 %}
					</fieldset>
					<fieldset class="form-panel section {% if include.layout == 'horizontal' %}horizontal{% else %}vertical{% endif %} {{ include.class }}">
				{% endif %}
				<h3 class="{% if item.depends %}pat-depends{% endif %} form-separation-header" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>{{item.label}}</h3>	
				{% if item.message %}
					<p class="pat-message {{ item.message-type }}">
						{{ item.message }}
					</p>
				{% endif %}
				{% assign title_nr = title_nr | plus: 1 %}
			{% endif %}	

			{% if item.type == "discussion" %}
				{% assign field_id = include.id %}
				{% assign field_action = include.action %}

				<fieldset class="group">
					<legend>{{ item.label }}</legend>
					{% include comment-trail.html action=item.action id=item.id %}
				</fieldset>
			{% endif %}	

			{% if item.type == "checklist" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<fieldset class="pat-checklist {{ item.variation }} {% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					<legend>{{ item.label }} </legend>
					{% if item.variation == 'checkbox' %}
						{% for subitem in item.items %}
							<label class="{% if subitem.state == 'disabled' %} disabled{% endif %}
							              {% if subitem.depends %}pat-depends{% endif %}"
									{% if subitem.depends %}data-pat-depends="{{ subitem.depends }}"{% endif %}>
								<input name="{{ subitem.name }}" 
								       type="checkbox"
								       {% if subitem.selected %} checked{% endif %}
								       {% if subitem.state == 'disabled' %} disabled{% endif %} /> {{ subitem.label }}
							</label>
							<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %} />
						{% endfor %}
					{% else %}
						{% for subitem in item.items %}
							<label {% if subitem.depends %}class="pat-depends"{% endif %} {% if subitem.depends %}data-pat-depends="{{ subitem.depends }}"{% endif %}>
								<input name="{{ subitem.name }}" value="{{ subitem.value }}"{% if subitem.selected %} checked{% endif %} type="radio"> {{ subitem.label }} {% if subitem.input %}<input type="{{subitem.input}}" name="{{ subitem.name }}-text" />{% endif %}
							</label>
							<br />
						{% endfor %}
					{% endif %}
					
					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

					{% include patterns/form-has-changes.html %}

				</fieldset>	
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %} />
			{% endif %}	

			{% if item.type == "search" %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>

					{% capture this %}help-{% increment help %}{% endcapture %}
					{% capture thiscontent %}{{ item.help }}{% endcapture %}

					{{ item.label }} 

					<input name="{{ item.name }}" type="search" size="{{ item.chars }}" placeholder="{{ item.placeholder }}" value="{{ item.value }}" {% if item.autofocus %}autofocus{% endif %} /> 

				</label>
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %} />
				{% if item.help %}
					{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
				{% endif %}

			{% endif %}	

			{% if item.type == "text" %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>

					{% capture this %}help-{% increment help %}{% endcapture %}
					{% capture thiscontent %}{{ item.help }}{% endcapture %}

					{{ item.label }}{% include patterns/form-required.html %} 

					<input 
						{% if item.required == true %}required="required"{% endif %} 
						{% if item.state == 'disabled' %}disabled{% endif %}  
						{% if item.size %}size="{{ item.chars }}"{% endif %}
						{% if item.placeholder %}placeholder="{{ item.placeholder }}"{% endif %}
						{% if item.autofocus %}autofocus{% endif %} 
						{% if item.maxlength %}maxlength="{{ item.maxlength }}"{% endif %} 
						type="text"
						name="{{ item.name }}" 
						value="{{ item.value }}" 
						/> 

					{% include patterns/form-has-changes.html %}

					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

				</label>
				{% include patterns/form-message.html %}
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %} />

			{% endif %}	

			{% if item.type == "number" %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>

					{% capture this %}help-{% increment help %}{% endcapture %}
					{% capture thiscontent %}{{ item.help }}{% endcapture %}

					{{ item.label }}{% include patterns/form-required.html %} 

					<input 
					{% if item.required == true %}required="required"{% endif %} 
					{% if item.state == 'disabled' %}disabled{% endif %}
					{% if item.autofocus %}autofocus{% endif %}
					{% if item.step %}step="{{ item.step }}"{% endif %} 
					{% if item.min %}min="{{ item.min }}"{% endif %} 
					{% if item.max %}max="{{ item.max }}"{% endif %} 
					{% if item.class %}class="{{ item.class }}"{% endif %} 
					type="number" 
					size="{{ item.chars }}" 
					name="{{ item.name }}" 
					id="{{ item.id }}" 
					placeholder="{{ item.placeholder }}" 
					value="{{ item.value }}" />
				
					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

					{% include patterns/form-has-changes.html %} 

				</label>
				<br />

			{% endif %}	

			{% if item.type == "auto-suggest" %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>

					{% capture this %}help-{% increment help %}{% endcapture %}
					{% capture thiscontent %}{{ item.help }}{% endcapture %}

					{{ item.label }}{% include patterns/form-required.html %} 

					<input 
					{% if item.required == true %}required="required"{% endif %} 
					{% if item.state == 'disabled' %}disabled{% endif %}
					{% if item.autofocus %}autofocus{% endif %}
					{% if item.step %}step="{{ item.step }}"{% endif %} 
					class="pat-autosuggest {% if item.class %} {{ item.class }}{% endif %} "
					type="text" 
					name="{{ item.name }}" 
					id="{{ item.id }}" 
					placeholder="{{ item.placeholder }}" 
					value="{{ item.value }}" 
					data-pat-autosuggest="allow-new-words: false; ajax-search-index: text; ajax-url: {{ item.url }}; {% if item.max_select %}max-selection-size: {{ item.max-select }};{% endif %} "/>
				
					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

					{% include patterns/form-has-changes.html %} 

				</label>
				<br />

			{% endif %}	

			{% if item.type == "output" %}
				<fieldset class="group {% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>

					<legend>{{ item.label }}</legend>
					
					{% capture this %}help-{% increment help %}{% endcapture %}
					{% capture thiscontent %}{{ item.help }}{% endcapture %}

					{% if item.symbol %}
						<abbr class="symbol">{{ item.symbol }}</abbr>
					{% endif %}

					<output name="{{ item.name }}" id="{{ item.id }}" for="{{ item.for }}">{{ item.value }}</output>
				
					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}
				</fieldset>
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %} />

			{% endif %}	

			{% if item.type == "date" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					{{ item.label }}{% include patterns/form-required.html %}
					 
					<input name="{{ item.name }}" type="date" size="{{ item.chars }}" placeholder="{{ item.placeholder }}" class="pat-date-picker" value="{{ item.value }}" />

					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

					{% include patterns/form-has-changes.html %}

				</label>
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %} />
			{% endif %}

			{% if item.type == "email" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					{{ item.label }}{% include patterns/form-required.html %}
					 
					<input type="email" name="{{ item.name }}" size="{{ item.chars }}" value="{{ item.value }}" />

					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %

					{% include patterns/form-has-changes.html %}

				</label>
				{% include patterns/form-message.html %}
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %} />
			{% endif %}

			{% if item.type == "percentage" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					{{ item.label }}{% include patterns/form-required.html %}
					 
					
					<span class="composed percentage-field">
						<input 
							{% if item.required == true %}required="required"{% endif %} 
							{% if item.state == 'disabled' %}disabled{% endif %}
							{% if item.step %}step="{{ item.step }}"{% endif %} 
							{% if item.min %}min="{{ item.min }}"{% endif %} 
							{% if item.max %}max="{{ item.max }}"{% endif %} 
							type="number" 
							size="{{ item.chars }}" 
							name="{{ item.name }}" 
							id="{{ item.id }}" 
							placeholder="{{ item.placeholder }}" 
							value="{{ item.value }}" />
						<abbr title="Euro" class="percentage">%</abbr>
					</span>

					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

					{% include patterns/form-has-changes.html %}

				</label>
				{% include patterns/form-message.html %}
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %} />
			{% endif %}

			{% if item.type == "currency" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					{{ item.label }}{% include patterns/form-required.html %}
					 
					
					<span class="composed currency-field">
						<abbr title="Euro" class="currency">{{item.symbol}}</abbr>
						<input 
							{% if item.required == true %}required="required"{% endif %} 
							{% if item.state == 'disabled' %}disabled{% endif %}
							{% if item.step %}step="{{ item.step }}"{% endif %} 
							{% if item.min %}min="{{ item.min }}"{% endif %} 
							{% if item.max %}max="{{ item.max }}"{% endif %} 
							type="number" 
							size="{{ item.chars }}" 
							name="{{ item.name }}" 
							id="{{ item.id }}" 
							placeholder="{{ item.placeholder }}" 
							value="{{ item.value }}" />
					</span>

					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

					{% include patterns/form-has-changes.html %}

				</label>
				{% include patterns/form-message.html %}
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %} />
			{% endif %}

			{% if item.type == "password" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<label>
					{{ item.label }}{% include patterns/form-required.html %} 
					 
					<input name="{{ item.name }}" type="password" size="{{ item.chars }}" value="{{ item.value }}" />

					{% include patterns/form-has-changes.html %}

				</label>

				{% if item.help %}
					{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
				{% endif %}
				
				{% include patterns/form-message.html %}
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %} />
			{% endif %}

			{% if item.type == "textarea" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					{{ item.label }}{% include patterns/form-required.html %} 
					 
					<textarea name="{{ item.name }}" rows="{{item.rows}}" {% if item.autofocus %}autofocus{% endif %}>{{ item.value }}</textarea>

					{% if item.help %}
						{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					{% endif %}

					{% include patterns/form-has-changes.html %}

				</label>
				{% include patterns/form-message.html %}
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %} />
			{% endif %}

			{% if item.type == "multi" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<fieldset class="group layout-{{item.layout}} {% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					<legend>{{ item.label }}  
								</legend>
					{% for subitem in item.items %}
						{% if subitem.type == 'text' %}
							<label>
								{{ subitem.label }}
								<input name="{{ item.name }}" {% if subitem.state == 'disabled' %}disabled{% endif %} type="text" {% if subitem.chars %}size="{{ subitem.chars }}"{% endif %} placeholder="{{ subitem.placeholder }}" value="{{ subitem.value }}" />  
							</label>
						{% endif %}
						{% if subitem.type == 'date' %}
							<label>
								{{ subitem.label }}
								<input name="{{ item.name }}" {% if subitem.state == 'disabled' %}disabled{% endif %} type="date" {% if subitem.chars %}size="{{ subitem.chars }}"{% endif %} placeholder="{{ subitem.placeholder }}" value="{{ subitem.value }}" /> 
							</label>
						{% endif %}
						{% if subitem.type == 'number' %}
							<label {% if subitem.depends %}class="pat-depends" data-pat-depends="{{ subitem.depends }}"{% endif %}>
								{{ subitem.label }}
								<input 
									{% if subitem.required == true %}required="required"{% endif %} 
									{% if subitem.state == 'disabled' %}disabled{% endif %}
									{% if subitem.autofocus %}autofocus{% endif %}
									{% if subitem.step %}step="{{ subitem.step }}"{% endif %} 
									{% if subitem.min %}min="{{ subitem.min }}"{% endif %} 
									{% if subitem.max %}max="{{ subitem.max }}"{% endif %} 
									type="number" 
									size="{{ subitem.chars }}" 
									name="{{ subitem.name }}" 
									id="{{ subitem.id }}" 
									placeholder="{{ subitem.placeholder }}" 
									value="{{ subitem.value }}" />
							</label>
						{% endif %}
						{% if subitem.type == 'currency' %}
							<label class="currency {% if subitem.depends %}pat-depends{% endif %}" {% if subitem.depends %}data-pat-depends="{{ subitem.depends }}"{% endif %}>
								{{ subitem.label }}
								<span class="composed currency-field">
									<abbr title="Euro" class="currency">{{subitem.symbol}}</abbr>
									<input 
										{% if subitem.required == true %}required="required"{% endif %} 
										{% if subitem.state == 'disabled' %}disabled{% endif %}
										{% if subitem.step %}step="{{ subitem.step }}"{% endif %} 
										{% if subitem.min %}min="{{ subitem.min }}"{% endif %} 
										{% if subitem.max %}max="{{ subitem.max }}"{% endif %} 
										type="number" 
										size="{{ subitem.chars }}" 
										name="{{ subitem.name }}" 
										id="{{ subitem.id }}" 
										placeholder="{{ subitem.placeholder }}" 
										value="{{ subitem.value }}" />
								</span>
							</label>
						{% endif %}

						{% if subitem.type == "select" %}
							<label class="{% if subitem.depends %}pat-depends{% endif %}" {% if subitem.depends %}data-pat-depends="{{ subitem.depends }}"{% endif %}>
								{{ subitem.label }}{% include patterns/form-required.html %} 
								{% if subitem.help %}{% include patterns/help-icon.html id="this" %}{% endif %}
								<select name="{{ subitem.name }}">
									{% for option in subitem.items %}
										<option value="{{ option.value }}" {% if option.selected %}selected{% endif %}> 
											{{ option.label }}
										</option>
									{% endfor %}
								</select>
							</label>
						{% endif %}

						{% if subitem.type == 'label' %}
							{{subitem.label}}
						{% endif %}
					{% endfor %}

					 {% if item.help %}
						 {% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					 {% endif %}

					{% include patterns/form-has-changes.html %}

				</fieldset>
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %} />
			{% endif %}

			{% if item.type == "separator" %}
				{% if item.variation == "visible" %}
				    <hr class="pat-separator" />
				{% else %}
					</fieldset>
					<fieldset class="section {% if item.layout == 'horizontal' %}horizontal{% else %}vertical{% endif %}">
				{% endif %}
			{% endif %}

			{% if item.type == "colour" %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }}; transition: slide"{% endif %}>
					{{ item.label }}
					<p class="colour-chooser-launcher">
                        <a class="pat-button pat-modal executed" 
                           id="{{ item.id }}" 
                           data-pat-modal="class: medium" 
                           {% unless item.value contains 'Default' %}
                           		style="background-color: {{ item.value | replace:' ','' | lowercase }}"         
                           {% endunless %}
                           href="/feedback/header-colour-chooser#document-content">{{ item.value }}</a>
                    </p>
				</label>
			{% endif %}

			{% if item.type == "file" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<fieldset class="group">
					<legend>
						{{ item.label }}
						
					</legend>
					<input name="{{ item.name }}" type="file" accept="{{item.accept}}" />
					{% include patterns/form-has-changes.html %}
				</fieldset>
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %} />
				{% if item.help %}
					{% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
				{% endif %}
			{% endif %}

			{% if item.type == "select" %}
				{% capture this %}help-{% increment help %}{% endcapture %}
				{% capture thiscontent %}{{ item.help }}{% endcapture %}
				<label class="{% if item.depends %}pat-depends{% endif %}" {% if item.depends %}data-pat-depends="{{ item.depends }};"{% endif %}>
					{{ item.label }}{% include patterns/form-required.html %} 
					
					<select name="{{ item.name }}">
						{% for subitem in item.items %}
							<option value="{{ subitem.value }}" {% if subitem.selected %}selected{% endif %} class="{% if subitem.depends %}pat-depends{% endif %}" {% if subitem.depends %}data-pat-depends="{{ subitem.depends }}"{% endif %}> 
								{{ subitem.label }}
							</option>
						{% endfor %}
					</select>

					 {% if item.help %}
						 {% include patterns/collapsible.html tag="dfn" class="help" trigger="this" contents="thiscontent" %}
					 {% endif %}

					{% include patterns/form-has-changes.html %}
				</label>
				<br {% if item.depends %}class="pat-depends"{% endif %} {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %} />
			{% endif %}

			{% if item.type == "button-bar" %}
				<div class="{% if item.depends %}pat-depends{% endif %} group button-bar {{ item.class }}" {% if item.depends %}data-pat-depends="{{ item.depends }}"{% endif %}>
					{% for subitem in item.items %}
						<button type="{{ subitem.type }}" 
						        {% if subitem.state == 'disabled' %}disabled{% endif %} 
						        class="pat-button {{ subitem.class }}">{{ subitem.label }}</button>
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</fieldset>
{% if include.root == 'form' %}
</form>
{% endif %}