---
layout: shell
state: documentation
examples:
  - title: "Overstroom ik?"
    url: "http://www.overstroomik.nl"
    description: A Dutch website on the risks of flooding in certain areas in the Netherlands.
  - title: "Patternslib.com"
    url: "http://www.patternslib.com"
    description: This website you're looking at now uses patterns. 
  - title: "Syslab.com"
    url: "http://en.syslab.com"
    description: The website of Syslab.com, entirely made with Patterns. Watch the fancy modal panels that are created with pat-switch.
  - title: "Informaat.com"
    url: "http://www.informaat.com"
    description: The website of the Dutch design and consultancy agency Informaat. Entirely made with Patterns.
  - title: "Quaive prototype"
    url: "http://quaive.syslab.com"
    description: "Patterns is also great tool for designers to create rich interactive prototypes with that deliver directly re-usable front-end code that developers can use."
---

<div class="container">
	<h1>
		Documentation
	</h1>

	<div class="pat-equaliser row">
		<div class="four columns">
			<section class="documentation pat-well">
				<h2>For developers</h2>
				<ul class="link-list">
					{% for post in site.posts  %}
						{% if post.layout == "documentation" and post.sub == "developer" %}
							<li>
								<a href="{{ post.url }}#content" class="pat-inject document">{{ post.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</section>
		</div>
		<div class="four columns">
			<section class="documentation pat-well">
				<h2>For designers</h2>
				<ul class="link-list document">
					{% for post in site.posts  %}
						{% if post.layout == "documentation" and post.sub == "designer" %}
							<li>
								<a href="{{ post.url }}#content" class="pat-inject document">{{ post.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</section>
		</div>
		<div class="four columns">
			<section class="documentation pat-well">
				<h2>Examples</h2>
				<ul class="link-list">
					{% for example in page.examples %}
		                <li>
	                		<a href="{{ example.url }}" class="website">
		                    	<h4>{{ example.title }}</h4>
		                    	{% if example.description %}
		                    		<p>
		                    			{{ example.description }}
		                    		</p>
		                    	{% endif %}
		                	</a>
		                </li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</div>
</div>