---
layout: shell
state: home
---

<figure id="site-hero">
	{% include blackboard.svg %}
</figure>

<article class="container pat-rich" id="site-intro">
	<h1>
		What is Patternslib?
	</h1>
	<p>
		Patternslib, or short 'Patterns' lets you create rich, dynamic and interactive prototypes or websites, without having to know or care about Javascript.
	</p>
	<p>
		Instead, you simply add special CSS classes and HTML5 data attributes to your HTML. These classes and attributes describe so-called "interaction patterns", which add rich functionality to your page.
	</p>
	<p>
		Patterns is both a library of reusable interaction patterns as well as a small framework for creating such patterns.
	</p>
</article>

<article class="container pat-rich">
	<h1>
		The stock Patterns
	</h1>
	<p>
		Patterns comes with a number of stock Patterns, which will be enough to create most sites with. Are you looking for a Pattern that's not here, or that cannot be created with a combination of the available stock Patterns, then read the section <a href="/creating-a-pattern">Creating a Pattern</a>.
	</p>
</article>

<section class="container patterns tiles" id="pattern-tiles">
	<div class="tile-cloud row">
		{% assign sortedposts = site.posts | sort: 'title' %}
		{% for post in sortedposts %}
			{% if post.layout == 'demo' %}
			    <a href="{{ post.url }}" title="{{ post.description }}" class="pattern-tile cat-{{ post.category }}">
					<figure>
						<img src="/media/{{ post.id }}.svg" alt="" />
						<figcaption>{{ post.title }}</figcaption>
					</figure>
			    </a>
			{% endif %}
		{% endfor %}
	</div>
</section>
