
				<form action="getBundle" id="download">
					<blockquote class="pat-auto-scale">
						<p>
							Patterns is a library that aims to bring webdesign and development together.
						</p>
						<p>
							<a href="https://github.com/Patternslib/Patterns"><img src="media/github-logo.svg" height="60" widht="300px" /></a>
						</p>
					</blockquote>
					<nav id="global-navigation" class="pat-bumper">
						<a href="#" id="home" class="pat-bumper"><img src="style/logo.png" alt="Patterns brandmark" id="logo" /></a>
						<a href="#documentation" class="documentation">Demos &amp; documentation</a> 
						<a href="#download" class="download">Download</a>
					</nav>

					<fieldset class="checklist pat-checklist component-index" id="component-index">				    	
							<div class="functions">
								<button class="select-all" type="button">Select all</button>
								<button class="deselect-all" type="button">Deselect all</button>
							</div>
							<h2>Core</h2>
							
							<fieldset class="checklist core">
				   			<label class="modernizr">
				   			    <input type="checkbox" name="modernizr" checked/>
				   			    <a class="navigation modernizr">Modernizr</a>
				   			</label>
				   			<label class="less">
				   			    <input type="checkbox" name="less" checked/>
				   			    <a class="navigation less">Less</a>
				   			</label>
				   			<label class="prefixfree">
				   			    <input type="checkbox" name="prefixfree" checked/>
				   			    <a class="navigation prefixfree">Prefixfree</a>
				   			</label>
							</fieldset>
						 
						  	<h2>Behavioural</h2>
						  	
						  	<fieldset class="checklist behavioural">
					   			<label class="depends">
					   			    <input type="checkbox" name="pat/depends" checked/>
					   			    <a class="navigation depends" href="demo/depends/index.html" title="">Depends</a>
					   			</label>
					    	  	<!-- <label class="expandable">
					    	  	    <input type="checkbox" name="pat/expandable" checked/>
					    	  	    <a class="navigation expandable">Expandable</a>
					    	  	</label> -->
					    	  	<label class="inject">
					    	  	    <input type="checkbox" name="pat/inject" checked/>
					    	  	    <a class="navigation ajax" href="demo/inject/index.html" title="AJAX injection">Injection (AJAX)</a>
					    	  	</label>
					    	  	<label class="switch">
					    	  	    <input type="checkbox" name="pat/switch" checked/>
					    	  	    <a class="navigation switch" href="demo/switch/index.html" title="Switch">Switch</a>
					    	  	</label>
					    	  	<label class="toggle">
					    	  	    <input type="checkbox" name="pat/toggle" checked/>
					    	  	    <a class="navigation toggle" href="demo/toggle/index.html" title="Toggle">Class toggle</a>
					    	  	</label>
						  	</fieldset>
						  	
						  	<h2>Forms</h2>
						  	
						  	<fieldset class="checklist forms">
					    	  	<label class="autofocus">
					    	  	    <input type="checkbox" name="pat/autofocus" checked/>		
					    	  	    <a class="navigation autofocus" href="demo/autofocus/index.html" title="Auto focus">Autofocus</a> 
					    	  	</label>
					    	  	<label class="auto-submit">
					    	  	    <input type="checkbox" name="pat/autosubmit" checked/>
					    	  	    <a class="navigation auto-submit" href="demo/auto-submit/index.html" title="Auto submit">Auto submit</a>
					    	  	</label>  
					    	  	<label class="auto-suggest">
					    	  	    <input type="checkbox" name="pat/autosuggest" checked/>
					    	  	    <a class="navigation auto-suggest" href="demo/auto-suggest/index.html" title="Auto suggest">Auto suggest (Select2)</a>
					    	  	</label>  
								<label class="chosen">
								    <input type="checkbox" name="pat/chosen" checked/>
								    <a>Auto suggest (Chosen)</a>
								</label>
					    	  	<label class="checked-flag">
					    	  	    <input type="checkbox" name="pat/checkedflag" checked/>
					    	  	    <a class="navigation checked-flag" href="demo/checked-flag/index.html" title="checkedflag">Checked flag</a>
					    	  	</label>
					    	  	<label class="checklist">
					    	  	    <input type="checkbox" name="pat/checklist" checked/>
					    	  	    <a class="navigation checkboxes" href="demo/checklist/index.html" title="checklist">Checklist</a>
					    	  	</label> 
					    	  	<label class="focus">
					    	  	    <input type="checkbox" name="pat/focus" checked/>
					    	  	    <a class="navigation focus" href="demo/focus/index.html" title="">Focus</a>
					    	  	</label>  
					    	  	<label class="form">
					    	  	    <input type="checkbox" name="pat/formstate" checked/>
					    	  	    <a>Form-state</a>
					    	  	</label> 	
					    	  	<label class="placeholder">
					    	  	    <input type="checkbox" name="pat/placeholder" checked/>
					    	  	    <a>Placeholder</a>
					    	  	</label>  	
					    	  	<label class="checklist">
					    	  	    <input type="checkbox" name="pat/subform" checked/>
					    	  	    <a class="navigation subform" href="demo/subform/index.html" title="checklist">Subform</a>
					    	  	</label> 
					    	  	<label class="validate">
					    	  	    <input type="checkbox" name="pat/validate" checked/>
					    	  	    <a class="navigation validate" href="demo/validate/index.html">Validate</a>
					    	  	</label>
					       		<label class="legend">
					       		    <input type="checkbox" name="pat/legend" checked/>
					       		    <a class="navigation legend">Legend</a>
					       		</label>
						  	</fieldset>
						  	
							<h2>Navigation</h2>
							
							<fieldset class="checklist navigation">
					       		<label class="breadcrumbs">
					       		    <input type="checkbox" name="pat/breadcrumbs" checked/>
					       		    <a class="navigation breadcrumbs">Breadcrumbs</a>
					       		</label>
								<label class="tree">
					    	  	    <input type="checkbox" name="pat/expandable" checked/>
									<a class="navigation tree" href="demo/expandable-tree/index.html" title="">Expandable tree</a>
								</label>
					    	  	<label class="navigation">
					    	  	    <input type="checkbox" name="pat/navigation" checked/>
									<a class="navigation navigation-marker" href="demo/navigation/index.html" title="Navigation markers">Navigation</a>
					    	  	</label>
								<label class="tree">
					    	  	    <input type="checkbox" name="pat/stacks" checked/>
									<a class="navigation stacks" href="demo/stacks/index.html" title="">Stacks</a>
								</label>
					   		</fieldset>
					   		
					   		<h2>Layout</h2>
					   		
					   		<fieldset class="checklist layout">
					       		<label class="auto-scale">
					       		    <input type="checkbox" name="pat/autoscale" checked/>
					       		    <a class="navigation auto-scale" href="demo/auto-scale/index.html" title="Auto scale">Auto scale</a>
					       		</label>
					       		<label class="bumper">
					       		    <input type="checkbox" name="pat/bumper" checked/>
					       		    <a class="navigation bumper" href="demo/bumper/index.html" title="Bumper">Bumper</a>
					       		</label>
					       		<label class="equaliser">
					       		    <input type="checkbox" name="pat/equaliser" checked/>
					       		    <a class="navigation bumper" href="demo/equaliser/index.html" title="Equaliser">Equaliser</a>
					       		</label>
					       		<label class="grid">
					       		    <input type="checkbox" checked/>
					       		    <a class="navigation grid" href="demo/grid/index.html" title="Grid">Grid</a>
					       		</label>
					   		</fieldset>
					   		               		
								<h2>Fancy stuff</h2>
								
								<fieldset class="checklist fancy">
								<label class="carousel">
								    <input type="checkbox" name="pat/carousel" checked/>
								    <a class="navigation carousel" href="demo/carousel/index.html" title="">Carousel</a>
								</label>
								<label class="collapsible">
								    <input type="checkbox" name="pat/collapsible" checked/>
								    <a class="navigation collapsible" href="demo/collapsible/index.html" title="collapsible">Collapsible</a>
								</label>
								<label class="forward">
								    <input type="checkbox" name="pat/forward" checked/>
								    <a class="navigation forward" href="demo/forward/index.html" title="forward">Forward clicks</a>
								</label>
								<label class="tinymce">
								    <input type="checkbox" name="pat/edit-tinymce" checked/>
								    <a class="navigation tiny-mce" href="demo/edit-tinymce/index.html" title="Rich editor">Tiny MCE</a>
								</label>
								<label class="modal">
								    <input type="checkbox" name="pat/modal" checked/>
								    <a class="navigation modal-panel" href="demo/modal/index.html" title="Modal panels">Modal panels</a>
								</label>
								<label class="image-crop">
								    <input type="checkbox" name="pat/image-crop" checked/>
								    <a class="navigation image-crop" href="demo/image-crop/index.html" title="Image crop">Image crop</a>
								</label>
								<label class="full-calendar">
								    <input type="checkbox" name="pat/fullcalendar" checked/>
								    <a class="navigation full-calendar" href="demo/calendar/index.html" title="Calendar">Full calendar</a>
								</label>
								<label class="gallery">
								    <input type="checkbox" name="pat/gallery" checked/>
								    <a class="navigation gallery" href="demo/gallery/index.html" title="Image galleries">Gallery</a>
								</label>
								<label class="markdown">
								    <input type="checkbox" name="pat/markdown" checked/>
								    <a class="navigation markdown" href="demo/markdown/index.html" title="Markdown rendering">Markdown</a>
								</label>
								<label class="menu">
								    <input type="checkbox" name="pat/menu" checked/>
								    <a>Menu</a>
								</label>
								<label class="notification">
								    <input type="checkbox" name="pat/notification" checked/>
								    <a class="navigation notification" href="demo/notification/index.html" title="">Notifications</a>
								</label>
								<label class="slides">
								    <input type="checkbox" name="pat/slides" checked/>
								    <a class="navigation slides" href="demo/slides/index.html" title="">Slideshows</a>
								</label>
								<label class="slideshow-builder">
								    <input type="checkbox" name="pat/slideshow-builder" checked/>
								    <a class="navigation slideshow-builder" href="demo/slideshow-builder/index.html" title="">Custom slideshow builder</a>
								</label>
								<label class="sortable">
								    <input type="checkbox" name="pat/sortable" checked/>
								    <a class="navigation sortable" href="demo/sortable/index.html" title="">Sortable</a>
								</label>
								<label class="tooltip">
								    <input type="checkbox" name="pat/tooltip" checked/>
								    <a class="navigation tooltip" href="demo/tooltip/index.html" title="">Tooltips</a>
								</label>
								<label class="zoom">
								    <input type="checkbox" name="pat/zoom" checked/>
								    <a class="navigation zoom" href="demo/zoom/index.html" title="">Zoom</a>
								</label>
						</fieldset>
				        
					    <fieldset class="button-bar">
					        	<button type="submit">Download bundle</button>
								<fieldset class="bundle-type">       
							       Bundle type:  
							        <label>
							            <input type="radio" name="minify" value="" checked> Regular</input>
							        </label>
							        <label>
							            <input type="radio" name="minify" value="minify"> Minified</input>
							        </label>
							    </fieldset>
					    </fieldset>
				     </fieldset>
				</form>