@charset "UTF-8";

$colour-accent: #009ee2;
$colour-base: white;
$colour-base-light: #efefef;

$colour-homepage: darkgreen;
$colour-demos: white;
$colour-showcases: darkcyan;
$colour-documentation: #ababab;
$colour-download: darkgoldenrod;

$colour-link: blue;

$colour-osc: #215021;