@charset "UTF-8";

$colour-quaive: #004666;
$colour-accent: #009ee2;
$colour-base: #7c8d9b;
$colour-base-light: #efefef;

$colour-homepage: seagreen;
$colour-pricing: $colour-base;
$colour-contact: $colour-base;
$colour-affordances: darkgoldenrod;
$colour-showcases: darkcyan;
$colour-topics: #982172;

$colour-link: $colour-quaive;