// Assets

@import "assets/colours";
@import "assets/symbols";
@import "assets/glyphs";
@import "assets/fonts";
@import "assets/mixins";

// Parameters

$body-font-color: black;
$body-font-family: 'Roboto', sans-serif;
$body-font-weight: normal;
$body-font-style: normal;
$base-line-height: 1.4;
$base-font-size: 18px;
$card-gutter: 25px;
$border-radii: 10px;
$default-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
$default-box-shadow-hover: 0 0 15px rgba(0,0,0,0.2);
$default-box-shadow-active: inset 0 0 10px rgba(0,0,0,0.4);
$header-animation-speed: 0.8s;
$button-background-image: linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.2) 100%);
$button-border: 1px solid transparant;
$button-background-colour: $colour-accent	;
$button-text-colour: white;
$button-height: 35px;
$button-paddings: 0 30px;
$button-font-size: 22px;
$button-font-weight: bold;
$button-border-radius: $border-radii;
$bullet-space: 40px;
$rich-bullet-space: 40px;
$pswp__assets-path: "/assets/style/photoswipe/";
$osc-width: 500px;

// Third party libraries

@import "libraries/patterns/patterns";

// Project components

@import "components/body";
@import "components/button";
@import "components/canvas-toolbar";
@import "components/global-nav";
@import "components/link-list";
@import "components/main";
@import "components/main-content";
@import "components/long-read";
@import "components/osc";
@import "components/pattern-tile";
@import "components/rich";
@import "components/site-header";
@import "components/swim-lane";
@import "components/ueber-back-button";
@import "components/ueber-toolbar";