// Assets
//@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);

@import url(http://fonts.googleapis.com/css?family=Lato:200,400,700,300italic&subset=latin,latin-ext);
@import "/style/fontello/css/fontello.css";

// @import url(fonts/font.css);

// Colours
// $felt: #89AA74;
$felt: #666;
$colour-alert: red;
$colour-accent: #0198E1;

// Font treatment
$base-font-size: 18px;
$base-line-height: 150%;
$font-weight-normal: 200;
$font-weight-bold: 700;

// We use these to control various global styles
$body-font-family: 'Lato', sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

// Categories
$cat-behavioural: #717dd7;
$cat-fancy-stuff: #e9b84e;
$cat-form: #9f4ea6;
$cat-layout: #57b7c0;
$cat-navigation: #3694c9;

// Breakpoints
$mobile: 768px;

// Libraries
@import "libraries/reset";
@import "libraries/animation";
// @import "libraries/patterns/patterns";

// Project components
@import "components/article";
@import "components/anchor";
@import "components/body";
@import "components/container";
@import "components/content";
@import "components/demo-block";
@import "components/html";
@import "components/modal";
@import "components/pattern-tile";
@import "components/site-header";
@import "components/sub-nav";
@import "components/typography";
@import "components/well";
@import "components/component-index";
@import "components/download-form";
@import "components/nav-tile";
@import "components/grid";
