/* @group Collapsible */

.pat-collapsible > *:first-child {
	@include pat-button();

	font-weight: normal;
	// font-size: 0.8em;
}

.pat-collapsible > *:first-child:before {
	content: "▼";
	width: 1.5em;
	display: inline-block;
}

.pat-collapsible.closed > *:first-child:before {
	content: "▶";
}

.pat-collapsible > .panel-content {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100% !important;
}



/* @end */

