@import "../components/checklist";

input,
textarea {
  &:not([type="file"]), {
    font-family: $body-font-family;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 0.5em;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: inherit;
    font-size: 100%;
  }
  &[type="file"] {
    -webkit-appearance: none;
    appearance: none;
    padding-left: 4px;
    display: inline-block;
    cursor: text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    user-select: text;
    max-width: 100%;
    color: inherit;
    vertical-align: baseline;
    font-size: 100%;
    line-height: 150%;
    margin-left: 0px !important;
    background-image: none;
    background-color: transparent;
    border-style: none;
  }
  &:disabled {
    border: transparent;
    opacity: 1;
    padding: 0;
    background-color: transparent;
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  /*Next 2 lines is a bizarre patch to make misbehaving FF hide the original dropdown button*/
  text-indent: 0.01px;
  text-overflow: '';
  height: 24;
  margin: 0 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.32);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-decoration: none !important;
  line-height: 1.5;
  display: inline-block;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 2em;
  font-size: 0.9em;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiIFsNCgk8IUVOVElUWSBuc19mbG93cyAiaHR0cDovL25zLmFkb2JlLmNvbS9GbG93cy8xLjAvIj4NCl0+DQo8c3ZnIHZlcnNpb249IjEuMSINCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyINCgkgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgLTEuNDk2IDEyIDEwIiBvdmVyZmxvdz0idmlzaWJsZSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIC0xLjQ5NiAxMiAxMCINCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8ZGVmcz4NCjwvZGVmcz4NCjxwb2x5Z29uIHBvaW50cz0iMCwwIDQuMjA1LDcuMDA5IDguNDEsMCAiLz4NCjwvc3ZnPg0K);
  &:active option {
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  /* @group Fieldset horizontal */
  .horizontal {
    width: 100%;
    .legend {
      width: auto;
      margin: 0;
      padding: 0;
      font-weight: bold;
      letter-spacing: 0;
      text-transform: none;
    }
    > label {
      position: relative;
      float: left;
      padding-right: 65%;
      width: 35%;
      left: 0;
      padding-top: 1px;
      margin-bottom: 1em;
      > {
        *, select {
          position: relative;
          vertical-align: top;
          max-width: 170%;
          left: 100%;
          margin-right: -200%;
          margin-left: 0;
          float: left;
        }
      }
      &.checkbox:before, &[data-option]:after {
        position: relative;
        vertical-align: top;
        max-width: 170%;
        left: 100%;
        margin-right: -200%;
        margin-left: 0;
        float: left;
      }
    }
    label {
      .iconified {
        float: none;
        position: static;
        line-height: 10px;
        margin-top: 0;
        vertical-align: baseline;
        filter: none;
      }
      sup.required {
        float: none;
        position: static;
        line-height: 10px;
        margin-top: 0;
        vertical-align: baseline;
        filter: none;
        line-height: 20px;
        margin: 0;
      }
      textarea {
        width: 170%;
      }
    }

    fieldset,
    div.group {
      &.group {
        width: 65%;
        clear: left;
        border-style: none;
        margin: 0 0 1em;
        padding-left: 35%;
        position: relative;
        padding-bottom: 0;
        padding-top: 0;
        legend {
          position: absolute;
          left: 0;
          font-weight: normal;
          font-style: normal;
          top: 0;
        }
        label {
          font-weight: normal;
          font-style: normal;
          position: relative;
          border-style: none;
          width: auto;
          float: none;
        }
        .legend {
          width: 48% !important;
          display: inline;
          text-align: left;
          padding: 0;
          position: relative;
          float: left;
          font-weight: normal;
          font-style: normal;
          margin: 0 0 0 -54%;
          text-transform: none;
          letter-spacing: 0;
        }
      }
    }
  }
}

/* @group Fieldset vertical */

fieldset.vertical {
  width: 100%;
}

.vertical {
  fieldset .legend {
    font-weight: normal;
    font-style: normal;
  }
  label {
    font-weight: bold;
    display: block;
    font-size: 12px;
    margin-bottom: 0;
  }
  fieldset {
    .legend, legend {
      font-weight: bold;
      display: block;
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  .group label {
    font-weight: normal;
    font-style: normal;
  }
  label {
    margin-bottom: 1em;
  }
  > br {
    display: none;
  }
  input, select {
    clear: both;
    display: block;
  }
}

.select2-container {
  clear: both;
  display: block;
}

.vertical {
  input[type="checkbox"] {
    clear: none;
    display: inline;
  }
  fieldset.group {
    input, select {
      clear: none;
      display: inline;
    }
  }
  p {
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
  }
}

@media only screen and (max-width: 767px) {
  .horizontal {
    fieldset .legend {
      font-weight: normal;
      font-style: normal;
    }
    label {
      font-weight: bold;
      display: block;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 0;
    }
    fieldset {
      .legend, legend {
        font-weight: bold;
        display: block;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;
      }
    }

    label {
      margin-bottom: 1em;
    }

    input, select {
      clear: both;
      display: block;
    }

    fieldset.group {
      input, select {
        clear: none;
        display: inline;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}

fieldset {
  border-style: none;
  margin: 0 0 1em;
}