body {
	-webkit-font-smoothing: subpixel-antialiased;
	padding: 0;
	margin: 0;
	background-color: $felt;
	color: white;
	font: $base-font-size $body-font-family;
	line-height: 1.7;
	font-weight: $font-weight-normal;
}