@charset "UTF-8";

@media print {
    @page {
      size: A4; /* DIN A4 standard, Europe */
      margin: 20mm 10mm;
    }

    html, 
    body {
        width: 210mm;
        /* height: 297mm; */
        height: 282mm;
        font-size: 11px;
        background: #FFF;
        overflow: visible;
    }
}

body {
    color: $body-font-color;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
    line-height: $base-line-height;
    font-size: $base-font-size;

    &.layout-homepage {
        overflow: hidden;
    }

    &.menu-open {
        overflow: hidden;
    }

    background: white;

    .hovermq & {
        -webkit-user-select: none;
        user-select: none;
    }

    cursor: default;
	padding: 0;
	margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;

	[hidden="hidden"],
	[hidden],
	[type="hidden"] {
		display: none;
	}

	.float-after {
		float: right;
	}

	.float-before {
		float: left;
	}
}