#content {
	@media only screen and (min-width: 768px) {
		width: 80%;
	}
	padding: 0 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-right: auto;
	margin-left: auto;
	clear: left;

	h1 {
		font-weight: 200; 
		font-size: 2em;
		line-height: 130%;
		margin-bottom: 0.7em;
	}
}