#content {
	color: white;
	position: relative;
	z-index: 1;
	
	@media only screen and (min-width: 768px) {
		width: 80%;
	}

	padding: 0 5%;
	padding-top: 5em;
	padding-bottom: 3%;
	margin-right: auto;
	margin-left: auto;
	clear: left;

	&:before {
		position: fixed;
	}

	h1 {
        text-align: center;
		font-weight: $font-weight-light; 
		font-size: 3em;
		line-height: 130%;
		margin-bottom: 1em;
	}
}