#demo {
	padding: 4%;
	margin: 0 0 2em 0;
	background: white;
	color: black;
	overflow: auto;

	a {
		color: $colour-accent;
	}

	h1 {
		font-weight: 200; 
		font-size: 2em;
		line-height: 130%;
		margin-bottom: 0.7em;
	}
}