form.download {
	.bundle-type {
		margin-bottom: 1em;
	}

	.pat-well {
		margin-bottom: 1.6em;
		color: white;

		&.cat-behavioural {
			background-color: $cat-behavioural;
		}

		&.cat-form {
			background-color: $cat-form;
		}

		&.cat-layout {
			background-color: $cat-layout;
		}

		&.cat-navigation {
			background-color: $cat-navigation;
		}

		&.cat-fancy-stuff {
			background-color: $cat-fancy-stuff;
		}

		&.cat-core {
			background-color: rgba(255,255,255,0.3);
		}
	}
}