form.download {
	.bundle-type {
		margin-bottom: 1em;
	}

	.pat-well {
		margin-bottom: 1.6em;
		color: black;
		background-color: rgba(255,255,255,0.95);

		&.cat-behavioural * {
			color: $cat-behavioural;
		}

		&.cat-form * {
			color: $cat-form;
		}

		&.cat-layout * {
			color: $cat-layout;
		}

		&.cat-navigation * {
			color: $cat-navigation;
		}

		&.cat-fancy-stuff * {
			color: $cat-fancy-stuff;
		}

		&.cat-core * {
			color: gray;
		}
	}
}