$card-gutter: 15px !default;

.info-cards {
	@include screen-size(medium-large) {
		margin: 0 -1 * $card-gutter;

		.layout-homepage & {
			margin-top: 30px;
		}
	}

	&.pat-masonry {
		.js & {
			@include screen-size(medium-large) {

				.info-card { 
					opacity: 0; 
					transition: opacity 1s;
					float: left;
				}

				&.masonry-ready {
					&.injecting-content {
						// opacity: 0;
					}

					.info-card { 
						opacity: 1; 
					}
				}
			}

		}
	}

  	.grid-sizer {
		@include screen-size(large) {
			width: 33.33333332%;
		}

		@include screen-size(medium) {
			width: 50%;
		}

		@include screen-size(small) {
			width: 100%;
		}
	}
}