.tiles {
	position: relative;
	z-index: 1;
	padding: 0 15px;

	.tile-cloud .pattern-tile {
		width: 20%;
		float: left;

		@include screen-size(medium) {
			width: 25%;
		}

		@include screen-size(small) {
			width: 50%;
		}
	}

	.pattern-tile {
		overflow: hidden;
		display: block;
		color: white;
		text-decoration: none;
		box-sizing: border-box;
		padding: 5px;
		
		figure {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top center;

			img {
				width: 100%;
				opacity: 0;
			}

			figcaption {
				text-align: center;
				height: 2.5em;
				margin: 0 -15px;
				font-size: 0.8em;
				font-weight: bold;
			}
		}
	}


	.cat-behavioural figure {
		background-color: $cat-behavioural;
	}

	.cat-form figure {
		background-color: $cat-form;
	}

	.cat-layout figure {
		background-color: $cat-layout;
	}

	.cat-navigation figure {
		background-color: $cat-navigation;
	}

	.cat-fancy-stuff figure {
		background-color: $cat-fancy-stuff;
	}

	// .tiles-up #pattern-tiles {
	// 	margin-top: -6em;
	// }
}