#site-header {
	display: block;
	text-align: center;
	padding: 2% 0 0 0;
	color: white;

	figure {
		width: 0;
		margin: 0 auto 0;
		position: relative;
		z-index: 0;

		-moz-transition: all 0.5s cubic-bezier(.17,.67,.28,1.24);
		-webkit-transition: all 0.5s cubic-bezier(.17,.67,.43,1.46);
		transition: all 0.5s cubic-bezier(.17,.67,.43,1.46);
		
		img {
			width: 100%;
		}
		
		figcaption {
			position: absolute;
			left: 30%;
			top: 78%;

			button {
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				transform: translateX(-50%);
				opacity: 0;
				color: white;
			}
		}	
	}

	nav {
		position: relative;
		z-index: 1;
	}
}

.state-home #site-header {
	figure {
		width: 80%;
		margin: -8em auto 0;

		figcaption {
			button {
				opacity: 1;
			}
		}
	}

	&.up {
		figure {
			margin-bottom: -25%;
		}
	}
}

#site-header nav a {
	display: block;
	text-align: center;
	@media only screen and (max-width: 767px) {
		line-height: 2em;
		font-size: 1.5em;
	}
	@media only screen and (min-width: 768px) {
		display: inline-block;
		width: 17%;
		font-size: 1em;
	}
	text-decoration: none;
	position: relative;
	transition: all 0.5s;
	position: relative;
}

.state-download #site-header nav a.download:after,
.state-home #site-header nav a.patterns:after,
.state-documentation #site-header nav a.documentation:after {
	@media only screen and (min-width: 768px) {
		position: absolute;
		bottom: -10px;
		left: 25%;
		width: 50%;
		height: 2px;
		background-color: white;
		content: " ";
		display: block;
	}
}

.state-home #site-header nav a.patterns {
	@media only screen and (min-width: 768px) {
		transform: scale(1.5);
	}
}

#site-header nav a:before {
	font-family: fontello;

	@media only screen and (min-width: 768px) {
		display: block;
		text-align: center;
		font-size: 4em;
	}
	@media only screen and (max-width: 767px) {
		display: inline-block;
		margin-right: 0.3em;
		font-size: 1em;
	}
}

#site-header nav a.patterns:before {
	content: "\e1000";
}

#site-header nav a.download:before {
	content: "\e1002";
}

#site-header nav a.documentation:before {
	content: "\e1001";
}