#site-header {
	display: block;
	text-align: center;
	padding: 4% 0 0 0;

	@include screen-size(small) {
		padding: 20% 0 15% 0;
	}

	color: white;
	
	nav {
		position: relative;
		z-index: 1;
	}
}

#site-header nav a {
	display: block;
	text-align: center;
	font-weight: bold;

	@media only screen and (max-width: 767px) {
		line-height: 2em;
		font-size: 1.5em;
	}

	@media only screen and (min-width: 768px) {
		display: inline-block;
		width: 17%;
		font-size: 0.8em;
	}

	text-decoration: none;
	position: relative;
	transition: all 0.5s;
	position: relative;
}

.state-download #site-header nav a.download:after,
.state-home #site-header nav a.patterns:after,
.state-documentation #site-header nav a.documentation:after {
	@media only screen and (min-width: 768px) {
		width: 5em;
		height: 5em;
		border-radius: 50%;
		display: block;
		content: ' ';
		border: 2px solid white;
		position: absolute;
		top: 0.78em;
		left: 50%;
		margin-left: -2.62em;
	}
}

.state-home #site-header nav a.patterns,
.state-documentation #site-header nav a.documentation,
.state-download #site-header nav a.download {
	@media only screen and (min-width: 768px) {
		transform: scale(1.5);
	}
}

#site-header nav a:before {
	font-family: fontello;

	@media only screen and (min-width: 768px) {
		display: block;
		text-align: center;
		font-size: 4em;
	}
	@media only screen and (max-width: 767px) {
		display: inline-block;
		margin-right: 0.3em;
		font-size: 1em;
	}
}

#site-header nav a.patterns:before {
	content: "\e1000";
}

#site-header nav a.download:before {
	content: "\e1002";
}

#site-header nav a.documentation:before {
	content: "\e1001";
}