$ueber-back-button-border-radius: $border-radii;
$ueber-back-button-border-radius-left: 8px !default;

$ueber-back-button-background-colour: $button-background-colour-subdued;
$ueber-back-button-text-colour: $button-text-colour-subdued;
$ueber-back-button-text-colour-hover: $button-text-colour-subdued-hover;

.ueber-back-button {
	display: inline-block;
	line-height: $button-height;
	height: $button-height;
	// background: $colour-button;
	color: $ueber-back-button-text-colour;
	font-size: 18px;
	padding: 0 1.5em 0 2em;
	position: relative;
	margin-left: 0;
	font-weight: bold;
	max-width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	text-decoration: none;

	.overflow-protector {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}

	@include screen-size(small) {
		#app-space & {
			display: none; // Use level up back button instead.
		}
	}

	&:before {
		content: ' ';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 15px 15px 15px 0;
		border-color: transparent $ueber-back-button-background-colour transparent transparent;
		position: absolute;
		left: 0;
		top: 2.5px;
	}

	&:after {
		content: ' ';
		background: $ueber-back-button-background-colour;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 13px;
		clip-path: inset(0 0 0 2px);
		display: block;
		border-top-right-radius: $ueber-back-button-border-radius;
		border-bottom-right-radius: $ueber-back-button-border-radius;
		border-top-left-radius: $ueber-back-button-border-radius-left;
		border-bottom-left-radius: $ueber-back-button-border-radius-left;
	}

	&:hover {
		color: black;
		text-decoration: none;
	}
}