.ueber-back-button {
	display: inline-block;
	line-height: $button-height;
	height: $button-height;
	background: white;
	color: black;
	border-radius: $button-border-radius;
	font-size: $button-font-size;
	padding: 0 2em 0 1.5em;
	position: relative;
	margin-left: $button-font-size;
	opacity: 0.5;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);

	.layout-demo & {
		box-shadow: none;
		background: silver;

		&:before {
			border-color: transparent silver transparent transparent;
		}
	}

	&:before {
		content: ' ';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $button-font-size - 1.5px 20px $button-font-size - 1.5px 0;
		border-color: transparent white transparent transparent;
		position: absolute;
		left: -16.5px;
		top: 2px;
	}

	&:hover {
		text-decoration: none;
		opacity: 0.8;
	}
}