@charset="UTF-8";
.pat-well {
	background: rgba(255,255,255,0.1);
	padding: 5%;
	@include box-sizing();
	height: 100%;

    h2 {
        margin-bottom: 5%;
    } 
    li {
        padding-bottom: 5%;
    }
}
