---
layout: shell
state: demo
---

<div class="container">
	<h1>{{ page.title }}</h1>

	<article>
	    <a href="/pat-demos/src/pat/{{page.id | remove: '/'}}/documentation.md"
	        class="pat-inject" data-pat-inject="data-type: markdown; source: ##Description; target: self::element; trigger: autoload">Documentation</a>
	</article>

	<h2>Demo</h2>
	<div id="demo" class="pattern-demo">
	    <a href="/pat-demos/src/pat/{{ page.id | remove: '/'}}/index.html" class="pat-inject" data-pat-inject="target: #demo; trigger: autoload">Load demo</a>
	</div>

	<article>
	    <a href="/pat-demos/src/pat/{{page.id }}/documentation.md#documentation"
	        class="pat-inject" data-pat-inject="data-type: markdown; source: ##Documentation; target: self::element; trigger: autoload">Documentation</a>
	</article>
</div>