---
layout: generic
---

<div class="pat-container">
	<div class="canvas-toolbar">
		{% if page.title == 'Contact' or page.title == 'Pricing' %}
			<a href="/#main-content" 
			   data-pat-inject="history: record" 
			   data-pat-switch="selector: body; remove: layout-*; add: layout-homepage"
			   class="ueber-back-button pat-inject pat-switch">Homepage</a>
		{% else %}
			<a href="./index#main-content" 
			   data-pat-inject="history: record" 
			   data-pat-switch="selector: body; remove: layout-*; add: layout-landing-{{ page.collection }}"
			   class="ueber-back-button pat-inject pat-switch">{{ page.collection | capitalize }}</a>
		{% endif %}
	</div>
	<article class="long-read">

		<div class="pat-rich">
			<h1>
				{{ page.title }}
			</h1>

			{% unless page.summary == nil %}
				<p class="summary">
					{{ page.summary }}
				</p>
			{% endunless %}
		</div>

		<div id="demo" 
		     class="pattern-demo">
		    <a href="/code/src/pat/{{ page.title | slugify }}/index.html" 
		       class="pat-inject" 
		       data-pat-inject="target: #demo; trigger: autoload">Load demo</a>
		</div>

		<div class="pat-rich">
		    <a href="/code/src/pat/{{ page.title | slugify }}/documentation.md#documentation"
		       class="pat-inject" 
		       data-pat-inject="data-type: markdown; source: ##Documentation; target: self::element; trigger: autoload">Documentation</a>
		</div>

	</article>
</div>

