--- 
layout: shell
state: documentation
---

<!-- <nav class="sub-nav">
	{% for post in site.posts %}
		{% if post.layout == 'documentation' %}
		    <a href="{{ post.url }}" title="{{ post.description }}">
				{{ post.title }}
		    </a>
		{% endif %}
	{% endfor %}
</nav> -->

<article id="main-content">
    <section id="docs">
        <a href="/patternslib/docs/{{ page.sub }}/{{ page.file }}" class="pat-inject" data-pat-inject="target: #docs; trigger: autoload; data-type: markdown">Load documentation</a>
    </section>
</article>
