---
layout: patterns/shell
class: pat-scroll-box
---

<div id="main">
	<div id="main-content"
		 class="layout-{{ page.layout }}">
		{{ content }}
	</div>

	<div id="site-header" 
         class="variation-{{ layout.template }}">
        <!-- <div class="pat-container"> -->
            <a href="/#main-content" 
               class="logo pat-inject pat-switch" 
               data-pat-inject="history: record"
               data-pat-switch="selector: body; remove: layout-*; add: layout-homepage; && selector: body; remove: menu-*; add: menu-off;"
               id="site-logo">
                {% include quaive-logo.svg %}
            </a>
            <a id="menu-toggle"
               class="pat-toggle"
               data-pat-toggle="selector: body; value: menu-open menu-closed">Menu</a>
        <!-- </div> -->
    </div>
</div>
<aside id="osc">
    <nav id="global-nav">
        {% include global-nav-item.html title="Affordances" %}
        {% include global-nav-item.html title="Showcases" %}
        {% include global-nav-item.html title="Topics" %}
        {% include global-nav-item.html title="Contact" %}
        {% include global-nav-item.html title="Pricing" %}
    </nav>
</aside>