---
layout: generic
---

<div class="swim-lane type-intro">
	<div class="pat-container">
		<div 
			class="pat-rich long-read">
			<h1>{{ page.title }}</h1>
			{% unless page.summary == nil %}
				<p class="summary">
					{{ page.summary }}
				</p>
			{% endunless %}
		</div>
		<div 
			class="download-block">
			<p 
				class="button-bar download-bar">
				<a 
					class="pat-button cta"
					href="/media/patterns.zip">Download v4.2.4</a>
			</p>
			<p
				class="download-byline pat-rich">
				Look for <a href="https://github.com/Patternslib/Patterns-releases/tree/main/releases">alternate releases</a>.
			</p>
		</div>
		<div 
			class="pat-rich long-read">
			{{ content }}
		</div>
	</div>
</div>